body {
    color: #666666;
    font-family: 'Roboto', sans-serif;
}

.navbar .sidebar {
    display: none;
    z-index: 2;
}

.navbar .bottom-bar {
    background-color: #fff;
    bottom: 0;
    filter: drop-shadow(0 -1px 4px rgba(0,0,0,.1));
    padding: 12px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
    @media screen and (min-width: 992px) {
        .navbar .bottom-bar {
            display: none;
        }
    }

    .navbar .bottom-bar__menu {
        width: 100%;
    }

    .navbar .bottom-bar__menu .bottom-bar__item {
        background-color: #fff;
        border: none;
        float: left;
        margin: 0;
        text-align: center;
        width: calc(100% / 3);
    }
        .navbar .bottom-bar__menu .bottom-bar__item .bottom-bar__icon {
            height: 23px;
        }

        .navbar .bottom-bar__menu .bottom-bar__item .bottom-bar__title {
            font-size: 11px;
            font-weight: 300;
        }
            .navbar .bottom-bar__menu .bottom-bar__item.selected .bottom-bar__title {
                font-weight: 400;
            }

.navbar .top-bar {
    display: none;
    height: 21px;
    padding: 27px 0;
}
    @media screen and (min-width: 992px) {
        .navbar .top-bar {
            display: block;
        }
    }

    .navbar .top-bar .top-bar__title {
        color: #288FEE;
        float: left;
        font-family: Roboto;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.05em;
    }
    
    .navbar .top-bar .top-bar__menu {
        float: left;
    }
        .navbar .top-bar .top-bar__menu .top-bar__item {
            float: left;
            font-family: Roboto;
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
            margin-left: 61px;
        }
            .navbar .top-bar .top-bar__menu .top-bar__item.selected {
                border-bottom: 3px solid #666666;
            }

            .navbar .top-bar .top-bar__menu .top-bar__item.dashboard {
                float: right;
            }
    
    .navbar .top-bar .top-bar__icon {
        float: left;
        width: 50%;
        text-align: center;
    }

.container {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 0;
}
    .container .map {
        background: url(../img/map-mockup.png) center top;
        background-position: center top;
        background-size: cover;
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .container .search {
        margin: 15px auto;
        position: relative;
        width: 94%;
    }

        .container .search form label {
            display: none;
        }

        .container .search form input {
            border: none;
            border-radius: 27px;
            color: #666666;
            filter: drop-shadow(0 4px 2px rgba(0,0,0,.1));
            font-family: Roboto;
            font-size: 20px;
            font-weight: 300;
            height: 44px;
            padding: 0 15%;
            width: 70%;
        }
