body {
    color: #666666;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    display: none;
    z-index: 2;
}

.bottom-bar {
    background-color: #fff;
    bottom: 0;
    filter: drop-shadow(0 -1px 4px rgba(0,0,0,.1));
    padding: 12px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
    @media screen and (min-width: 992px) {
        .bottom-bar {
            display: none;
        }
    }

    .bottom-bar__menu {
        width: 100%;
    }

    .bottom-bar__menu .bottom-bar__item {
        background-color: #fff;
        border: none;
        float: left;
        margin: 0;
        text-align: center;
        width: calc(100% / 3);
    }
        .bottom-bar__menu .bottom-bar__item .bottom-bar__icon {
            height: 23px;
        }

        .bottom-bar__menu .bottom-bar__item .bottom-bar__title {
            font-size: 11px;
            font-weight: 300;
        }
            .bottom-bar__menu .bottom-bar__item.selected .bottom-bar__title {
                font-weight: 400;
            }

.top-bar {
    background-color: #fff;
    display: none;
    height: 21px;
    left: 0;
    padding: 27px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
    @media screen and (min-width: 992px) {
        .top-bar {
            display: block;
        }
    }

    .top-bar .top-bar__title {
        color: #288FEE;
        float: left;
        font-family: Roboto;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.05em;
    }
    
    .top-bar .top-bar__menu {
        float: left;
    }
        .top-bar .top-bar__menu .top-bar__item {
            float: left;
            font-family: Roboto;
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
            margin-left: 61px;
        }
            .top-bar .top-bar__menu .top-bar__item.selected {
                border-bottom: 3px solid #666666;
            }

            .top-bar .top-bar__menu .top-bar__item.dashboard {
                float: right;
            }
    
    .top-bar .top-bar__icon {
        float: left;
        width: 50%;
        text-align: center;
    }

.container {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
}
    .container .map {
        background-image: url(../img/map-mockup.png);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        position: fixed;
        width: 100%;
    }
        @media screen and (min-width: 992px) {
            .container .map {
                background-image: url(../img/map-mockup-desktop.png);
                background-position: right bottom;
            }
        }

    .container .search {
        margin: 15px auto;
        width: 94%;
    }
        @media screen and (min-width: 992px) {
            .container .search {
                position: absolute;
                left: 30px;
                top: 117px;
                width: initial;
            }
        }

        .container .search label {
            display: none;
        }

        .container .search input {
            border: none;
            border-radius: 27px;
            color: #666666;
            filter: drop-shadow(0 4px 2px rgba(0,0,0,.1));
            font-family: Roboto;
            font-size: 20px;
            font-weight: 300;
            height: 44px;
            padding: 0 15%;
            width: 70%;
        }
        @media screen and (min-width: 992px) {
            .container .search input {
                border-radius: 10px;
                
                height: 44px;
                padding: 0 20px;
                width: 340px;
            }
        }
